
INPUT { CURSOR: pointer }
BODY { background-color: #eef2fc ; font-family: Calibri; font-size: 9pt; scrollbar-face-color: #ffffff ;
scrollbar-highlight-color: #ececec; scrollbar-3dlight-color:#ffffff ; scrollbar-shadow-color:#555555 ;
scrollbar-darkshadow-color: #bebebe; scrollbar-track-color:#ffffff; scrollbar-base-color: #ffffff;
scrollbar-arrow-color:#3895f7; }  
     
.highlightrowbg {background:#ffffff;} 
.highlightrowbg:hover {background:#8fdefc; border-width:5px}

.fntbigbg {text-transform: uppercase; letter-spacing:3px; text-shadow: 1px 1px black; padding: 3px; background-color:#3173B0 ; font-family: calibri; font-size: 19pt; font-weight: bold; color:white; border: 1px solid #3173B0; border-radius: 3px; box-shadow: 3px 3px 5px 1px #333333;}
.bgfont8v {font-family: Tahoma; font-size: 8pt; COLOR: #2d617b; background-color: #e2e8e9}	
.bgtransdesc {letter-spacing:22px; text-transform: uppercase; text-shadow: 1px 1px #a2a2a2; font-family: Century Gothic; font-size: 23pt; font-weight: bold; color:#ffffff; background-color: #e2e8e9}		
.bgbgbg {background-image:url(../folder_graphics/graphics_main_all/img_leftbot_bg.gif);} 
.Tab_maintablebod {background-color: #ffffff; box-shadow: 3px 3px 12px 2px #333333;}
.Tab_outerbod {background-color: #ffffff; border-top: 0px solid #222222; border-right: 0px solid #222222; border-left: 0px solid #222222;border-bottom: 0px solid #222222;}
.Tab_footbar { border-bottom: 0px solid #222222; border-right: 0px solid #222222; border-left: 0px solid #222222; }
.Tab_footbar_noline { background-image:url(../folder_graphics/graphics_main_all/Grad_LightGrey29A.gif); background-color: #d7e1e1; }
.Tab_cell_input { background-color: #ffffff; font-family: Arial; font-size: 14pt; border-right: 0px solid #222222; border-left: 0px solid #222222 } 
.Tab_cell_input2 { background-color: #ffffff;} 
.Tab_under { background-image:url(../folder_graphics/graphics_main_all/Grad_Horz_LightBlue.gif); background-color: #d7e1e1; font-family: Arial; font-size: 10pt; } 
.Tab_under9 { background-image:url(../folder_graphics/graphics_main_all/grad_blue23.gif); background-color: #d7e1e1; font-family: Arial; font-size: 9pt; } 
.Tab_under_noline {font-size:16pt; height:38px; font-family:calibri; color:#17375a; font-weight:bold;   background-color: #ffffff;  text-transform: uppercase; letter-spacing:2px; text-shadow: 1px 1px #dedede } 
.Tab_under_noline9 {font-size:16pt; height:38px; font-family:calibri; color:#1d455b; font-weight:bold; background-color: #d9e6f6;  text-transform: uppercase; } 
.Formbottom { background-image:url(../folder_graphics/graphics_main_all/Grad_LightGrey29AXXXX.gif);font-family: Arial; font-size: 10pt; } 
.Formbottom_b { background-image:url(../folder_graphics/graphics_main_all/Grad_LightGrey29AXXXX.gif);font-family: Arial; font-size: 10pt; border-bottom: 1px solid #a8a8a8; } 
.barheader11v { background-image:url(../folder_graphics/graphics_main_all/grad_blue23.gif); background-color: #d7e1e1; font-family: Arial; font-size: 10pt; font-family: Arial; font-size: 11pt; COLOR: #737373 }
.rightsideshadow { background-image:url(../folder_graphics/graphics_main_all/zzzzBGHoriz.gif);  background-repeat:no-repeat ; background-position:left; } 
.rightsideshadow1 { background-image:url(../folder_graphics/graphics_main_all/BGHoriz.png);  background-repeat:no-repeat ; background-position:left; } 
.botsideshadow { background-image:url(../folder_graphics/graphics_main_all/xxxBGVertic.gif);}  
.styleappmenu { background-color: #eef2fc;  font-family: Arial; font-size: 10pt; color:#1d455b } 
.lefttopbg { background-image:url(../folder_graphics/graphics_main_all/Grad_Horz_LightBlue.gif); background-color: #d7e1e1;  } 
.topmainwrd {text-shadow:1px 1px #cdcdcd; letter-spacing:2px; height:28px; background-color: #eef2fc; font-family: Century Gothic; font-size: 11pt; color:#1C2E4A; font-weight: bold; padding:0px 16px 0px 6px; } 
.topmainwrd2 { height:27px; background-color: #264575; border-top: 1px solid #1B2E4A;  border-bottom: 1px solid #1B2E4A; border-left: 0px solid #1B2E4A; border-right: 0px solid #1B2E4A; font-family: Calibri; font-size: 11pt; color:white; font-weight: bold; }
.topmainwrd_first { height:28px; background-color: #264575; border-top: 1px solid #1B2E4A;  border-bottom: 1px solid #1B2E4A; border-left: 0px solid #1B2E4A; font-family: Calibri; font-size: 13pt; color:white; font-weight: bold; padding:0px 1px 0px 1px; } 
.topmain_border_end_box { height:28px; background-color: #eef2fc; border-top: 1px solid transparent;  border-bottom: 1px solid transparent; border-left: 0px solid #1B2E4A; font-family: Calibri; font-size: 13pt; color:white; font-weight: bold; padding:0px 1px 0px 1px; } 
.tabrightside { background-image:url(../folder_graphics/graphics_main_all/TabRightU.gif); background-color: #d7e1e1;  background-repeat:no-repeat ; background-position:right; font-family: Arial; font-weight: bold; font-size: 9pt; COLOR: #505050 }
.tabrightwhite { background-image:url(../folder_graphics/graphics_main_all/TabRightW.gif); background-color: #d7e1e1;  background-repeat:no-repeat ; background-position:right; font-family: Arial; font-weight: bold; font-size: 9pt; COLOR: #fefefe }
.awesomeiconcolor {color:#96A7B7;}
.reptsubheader { background-color: #264575; font-family: Calibri; font-size: 12pt; font-weight:bold; color:#ffffff;  } 

.fntawesomeicon01 {background-color:transparent; color:#12426c; font-size:11pt; padding:1px 4px 1px 5px;  border-radius:5px; border:1px solid #12426c}
.fntawesomeicon01_red {background-color:#C42929; font-size:12pt; padding:1px 5px 1px 6px; color:white; border-radius:3px;}
.fntawesomeicon01_green {background-color:#0A8607; font-size:12pt; padding:1px 5px 1px 6px; color:white; border-radius:3px;}
 
.fntaweimg_purple { font-size:13pt; color:#AF0CAC; }
.fntaweimg_green { font-size:13pt; color:#1F9937; }
.fntaweimg_silver {font-size:13pt; color:#777777; }
.fntaweimg_orange {font-size:13pt; color:#DF9800;  }
.fntaweimg_red {font-size:13pt; color:#103870; }
.fntaweimg_blue {font-size:13pt; color:#17649F; }
.fntaweimg_lightblue {font-size:13pt; color:#3990D2; }

.fntaweimg2_purple { font-size:12pt; color:#AF0CAC; }
.fntaweimg2_green { font-size:12pt; color:#1F9937; }
.fntaweimg2_silver {font-size:12pt; color:#777777; }
.fntaweimg2_orange {font-size:12pt; color:#DF9800; }
.fntaweimg2_red {font-size:12pt; color:#A03D39; }
.fntaweimg2_blue {font-size:12pt; color:#17649F; }
.fntaweimg2_lightblue {font-size:12pt; color:#3990D2; }

.fntaweimg3_purple { font-size:11pt; color:#AF0CAC; }
.fntaweimg3_green { font-size:11pt; color:#1F9937; }
.fntaweimg3_silver {font-size:11pt; color:#777777; }
.fntaweimg3_orange {font-size:11pt; color:#DF9800; }
.fntaweimg3_red {font-size:11pt; color:#A03D39; }
.fntaweimg3_blue {font-size:11pt; color:#17649F; }
.fntaweimg3_lightblue {font-size:11pt;  color:#3990D2; }

.buttonawesome1 {
    background-color: #1F5FA8; 
    border: 1px solid #1F5FA8;
    border-radius: 4px;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    font-family: Calibri;
    height: 23px;
    CURSOR: pointer;

}  

.buttonawesome2 {
    background-color: #1F5FA8; 
    border: 1px solid #1F5FA8;
    border-radius: 4px;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    font-family: Calibri;
    height: 23px;
    CURSOR: pointer;
}  

.butnlistm {
    background-color: #3462A6; 
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    font-family: Calibri;
}

.butnlistm:hover {
    background-color: #FACC2E; 
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    font-family: Calibri;
}

.butnlistm2 {
    background-color: #3462A6; 
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    font-family: Calibri;
    text-transform: uppercase;
    min-width:60px;
}

.butnlistm2:hover {
    background-color: #FACC2E;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    font-family: Calibri;
    text-transform: uppercase;
    min-width:60px;
}

.butnlistmred2 {
    background-color: red; 
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    font-family: Calibri;
    text-transform: uppercase;
    min-width:60px;
}

.butnlistmred2:hover {
    background-color: #FACC2E;
    border: 1px solid black;
    border-radius: 5px;
    color: #222222;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    font-family: Calibri;
    text-transform: uppercase;
    min-width:60px;
}

.butncolor_green {
    background-color: #31B404;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    font-family: Calibri;
}

.butncolor_green:hover {
    background-color: #088A08;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    font-family: Calibri;
}

.butncolor_cart {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    padding: 0px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    font-family: Calibri;
}

.butncolor_cart:hover {
    background-color: #1EDA59;
    border: 1px solid black;
    border-radius: 2px;
    color: white;
    padding: 0px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    font-family: Calibri;
}

.butncolor_arrw {
    border-radius: 2px;
    color: navy;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-family: Calibri;
}

.butncolor_arrw:hover {
    background-color: blue;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-family: Calibri;
}

.butncolor_silver:hover {
    background-color: #787878;
    border: 1px solid NAVY;
    border-radius: 5px;
    color: white;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    font-family: Calibri;
}

.butncolor_silver {
    background-color: #fbfbfb;
    border: 1px solid NAVY;
    border-radius: 5px;
    color: #222222;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    font-family: Calibri;
}

.linkbtn {height:30px; text-align:center; background-color: #264575; border:1px solid #222222; font-family: Calibri; font-weight: bold;font-size: 11pt ; COLOR: #fefefe;}
.subbtn {text-shadow:1px 1px #555555; text-transform:uppercase; letter-spacing:1px; box-shadow:1px 2px 3px 1px #a2a2a2; padding:1px 15px 0px 11px; height:28px;text-align:left;background-repeat:no-repeat;background-position:right;background-image:url(../folder_graphics/graphics_main_all/img_next.gif);background-color:#0a65b6;border:1px solid #0a65b6;border-radius:2px;font-family: Century Gothic; font-weight: bold;font-size: 10.2pt ; COLOR: #ffffff; CURSOR: pointer }
.subbtnHov {text-shadow:1px 1px #555555; text-transform:uppercase; letter-spacing:1px; box-shadow:1px 2px 3px 1px #a2a2a2; padding:1px 15px 0px 11px; height:28px;text-align:left;background-repeat:no-repeat;background-position:right;background-image:url(../folder_graphics/graphics_main_all/img_next.gif);background-color:#0c2c81;border:1px solid #063e8a;border-radius:2px;font-family: Century Gothic; font-weight: bold;font-size: 10.2pt ; COLOR: #ffffff; CURSOR: pointer }
.subbtnPrc {text-shadow:1px 1px #555555; letter-spacing:2px; box-shadow:1px 2px 3px 1px #a2a2a2; padding:1px 15px 0px 11px; height:28px;text-align:left;background-color:#666666;border:1px solid #063e8a;border-radius:2px;font-family: Century Gothic; font-weight: bold;font-size: 8pt ; COLOR: #ffffff; }
.subbtndwn {text-shadow:1px 1px #555555; text-transform:uppercase; letter-spacing:1px; box-shadow:1px 2px 3px 1px #a2a2a2; padding:1px 15px 0px 11px; height:28px;text-align:left;background-repeat:no-repeat;background-position:right;background-image:url(../folder_graphics/graphics_main_all/img_next.gif);background-color:#cc190d;border:1px solid #063e8a;border-radius:2px;font-family: Century Gothic; font-weight: bold;font-size: 10.2pt ; COLOR: #ffffff; CURSOR: pointer }

.subbtn2 {text-transform:uppercase; padding:1px 5px 0px 3px; height:28px;text-align:left;background-repeat:no-repeat;background-position:right;background-image:url(../folder_graphics/graphics_main_all/img_next.gif);background-color:#cc190d;border:1px solid #b0190f;border-radius:2px;font-family: Century Gothic; font-weight: bold;font-size: 10pt ; COLOR: #ffffff; }

.subbtn3 {text-shadow:1px 1px #555555; text-transform:uppercase; letter-spacing:1px; box-shadow:1px 2px 3px 1px #a2a2a2; padding:1px 15px 0px 11px; height:28px;text-align:left;background-repeat:no-repeat;background-position:right;background-image:url(../folder_graphics/graphics_main_all/img_next.gif);background-color:#0c2b6d;border:1px solid #222222;border-radius:2px;font-family: Century Gothic; font-weight: bold;font-size: 10.2pt ; COLOR: #ffffff; }

.subbtnLft {height:28px;text-align:left;font-family: Calibri; font-weight: bold;font-size: 11pt ; COLOR: #333; background-color: #fff;text-transform:uppercase; letter-spacing:1px;box-shadow:1px 2px 3px 1px #eceaea;  cursor: pointer;} 
.subbtnHovLft {height:28px;text-align:left;font-family: Calibri; font-weight: bold;font-size: 11pt ; COLOR: #666666; background-color: #E8E8E8;text-transform:uppercase; letter-spacing:1px;box-shadow:1px 2px 3px 1px #eceaea;  cursor: pointer;}
.subbtnPrcLft {height:28px;text-align:left;font-family: Calibri; font-weight: bold;font-size: 10pt ; COLOR: #888888; background-color: #E8E8E8;text-transform:uppercase; letter-spacing:1px;box-shadow:1px 2px 3px 1px #eceaea;  cursor: pointer;}
.subbtndwnLft {height:28px;text-align:left;font-family: Calibri; font-weight: bold;font-size: 11pt ; COLOR: #222222; background-color: #E8E8E8;text-transform:uppercase; letter-spacing:1px;box-shadow:1px 2px 3px 1px #eceaea;  cursor: pointer;}

.subbtnClass2 {height:28px;text-align:left;border-bottom:1px solid #888888;border-top:1px solid #ffffff;border-left:1px solid #ffffff;border-right:1px solid #ffffff;font-family: Calibri; font-weight: bold;font-size: 11pt ; COLOR: #2d617b; background-color: white;}
.subbtnLftClass2 {height:28px;text-align:left;border-bottom:1px solid #707070;border-top:1px solid #707070;border-left:1px solid #707070;border-right:1px solid #707070;font-family: Calibri; font-weight: bold;font-size: 11pt ; COLOR: #222222; background-color: darkgreen;}
.subbtnHovClass2 {height:28px;text-align:left;border-bottom:1px solid black;border-top:1px solid black;border-left:1px solid black;border-right:1px solid black;font-family: Calibri; font-weight: bold;font-size: 11pt ; COLOR: #222222; background-color: lightgreen;}


	
.font_color {COLOR: #4d4d4d}                                                                                  
.font7v   { font-family: Tahoma; font-size: 7pt; COLOR: #2d617b }
.font8v   { font-family: Calibri; font-size: 10pt; COLOR: #2d617b; height:15pt }
.font9v   { font-family: Calibri; font-size: 10pt; COLOR: #2d617b }
.font10v { font-family: Calibri; font-size: 11pt; COLOR: #303030; text-transform: uppercase; }
.font12v { font-family: Calibri; font-size: 13pt; COLOR: #303030 }
.font15v { font-family: Calibri; font-size: 16pt; COLOR: #303030; font-weight:bold; }
.font18v { font-family: Arial; font-size: 18pt; COLOR: #303030; font-weight:bold; }

  
.fontmaint9vbox   { font-family: Calibri; font-size: 10pt; COLOR: #222222; border: 1px solid #ffffff; text-align: right;}
.fontmaint9v   { font-family: Calibri; font-size: 10pt; COLOR: #222222;	border-bottom: 1px dotted #bbbbbb;}
.fontlist7v   { font-family: Calibri; font-size: 8pt; COLOR: #222222; border-top: 1px dotted #cdcdcd;}
.fontlist7v_lrb   { font-family: Arial; font-size: 7pt; COLOR: #222222; border-top: 1px dotted #cdcdcd; border-right: 1px dotted #cdcdcd; border-left: 1px dotted #cdcdcd;}
.fontlist8v   { font-family: Calibri; font-size: 10pt; COLOR: #222222; border-bottom: 1px solid #f5f5f5;}
.fontlist9v   { font-family: Calibri; font-size: 10pt; COLOR: #222222;	border-bottom: 1px solid #DEE4E5;}
.fontlist10v { font-family: Calibri; font-size: 11pt;  COLOR: #222222; border-bottom: 1px dotted #cdcdcd;} 
.fontlist12v { font-family: Century Gothic; font-size: 12pt;  COLOR: #020f1e; border-bottom: 1px dotted #cdcdcd; letter-spacing:1px}
.fontlist10vspace { font-family: Calibri; font-size: 12pt; height:26px;  COLOR: #222222; border-bottom: 1px dotted #bababa; letter-spacing:1px;}
.fontlist8v_rb   { font-family: Calibri; font-size: 9pt; COLOR: #222222; border-bottom: 1px dotted #cdcdcd; border-right: 1px dotted #cdcdcd;}
.fontlist8v_lrb   { font-family: Calibri; font-size: 9pt; COLOR: #222222; border-bottom: 1px dotted #cdcdcd; border-right: 1px dotted #cdcdcd; border-left: 1px dotted #cdcdcd;}
.fontlist9v_rb   { font-family: Calibri; font-size: 9pt; COLOR: #222222; border-bottom: 1px dotted #cdcdcd; border-right: 1px dotted #cdcdcd;}
.fontlist9v_lrb   { font-family: Calibri; font-size: 9pt; COLOR: #222222; border-bottom: 1px dotted #cdcdcd; border-right: 1px dotted #cdcdcd; border-left: 1px dotted #cdcdcd;}
.fontlist8v_rtb   { font-family: Calibri; font-size: 9pt; COLOR: #222222; border-top: 1px dotted #cdcdcd; border-bottom: 1px dotted #cdcdcd; border-right: 1px dotted #cdcdcd;}
.fontlist8v_r   { font-family: Calibri; font-size: 9pt; COLOR: #222222; border-bottom: 0px dotted #cdcdcd; border-right: 1px dotted #cdcdcd;}
.fontlist8v_lr   { font-family: Calibri; font-size: 9pt; COLOR: #222222; border-bottom: 0px dotted #cdcdcd; border-right: 1px dotted #cdcdcd; border-left: 1px dotted #cdcdcd;}
.fontlist8v_topline  { font-family: Calibri; font-size: 9pt; COLOR: #222222; border-top: 1px dotted #cdcdcd;}
.fontlist8v_btop   {background: #8abbd2; font-family: Calibri; font-size: 9pt; COLOR: #222222; border-top: 1px solid #222222;}
.fontlist8v_btopleft   {background: #8abbd2; font-family: Calibri; font-size: 9pt; COLOR: #222222; border-top: 1px solid #222222;border-left: 1px solid #222222;}
.fontlist8v_btopright   {background: #8abbd2; font-family: Calibri; font-size: 9pt; COLOR: #222222; border-top: 1px solid #222222;border-right: 1px solid #222222;}
.fontlist8v_bbot   {background: #8abbd2; font-family: Calibri; font-size: 9pt; COLOR: #222222; border-bottom: 1px solid #878787;}
.fontlist8v_bbotleft   {background: #8abbd2; font-family: Calibri; font-size: 9pt; COLOR: #222222; border-bottom: 1px solid #878787;border-left: 1px solid #878787;}
.fontlist8v_bbotright   {background: #8abbd2; font-family: Calibri; font-size: 9pt; COLOR: #222222; border-bottom: 1px solid #878787;border-right: 1px solid #878787;}
.fontlist10v_bbot   {background-image:url(../folder_graphics/graphics_main_all/grad_midgrey23.gif);  background-color: #d7e1e1;  font-family: Arial; font-size: 10pt; COLOR: #222222; border-bottom: 1px solid #878787;}

.td_U_12_rb	{ font-family: Arial; font-size: 12px; COLOR: #222222; border-bottom: 1px solid #cccccc; border-right: 1px solid #cccccc; padding:0px 0px 0px 0px;}

.td_V_11_b	{ font-family: Arial; font-size: 11px; COLOR: #222222; border-bottom: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_11_bl	{ font-family: Arial; font-size: 11px; COLOR: #222222; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; padding:0px 4px 0px 4px; padding:0px 4px 0px 4px;}
.td_V_11_rb	{ font-family: Arial; font-size: 11px; COLOR: #222222; border-bottom: 1px solid #cccccc; border-right: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_11_rbl{ font-family: Arial; font-size: 11px; COLOR: #222222; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc;padding:0px 4px 0px 4px;}
.td_V_12_b	{ font-family: Arial; font-size: 12px; COLOR: #222222; border-bottom: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_12_bl	{ font-family: Arial; font-size: 12px; COLOR: #222222; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; padding:0px 4px 0px 4px; padding:0px 4px 0px 4px;}
.td_V_12_rb	{ font-family: Arial; font-size: 12px; COLOR: #222222; border-bottom: 1px solid #cccccc; border-right: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_12_rbl{ font-family: Arial; font-size: 12px; COLOR: #222222;border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc;padding:0px 4px 0px 4px;}
.td_V_12B_b	{ font-family: Arial; font-size: 12px; font-weight:bold; COLOR: #222222; border-bottom: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_12B_bl{ font-family: Arial; font-size: 12px; font-weight:bold; COLOR: #222222; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc;padding:0px 4px 0px 4px;}
.td_V_12B_rb{ font-family: Arial; font-size: 12px; font-weight:bold; COLOR: #222222; border-bottom: 1px solid #cccccc; border-right: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_12B_rbl{ font-family: Arial; font-size: 12px; font-weight:bold; COLOR: #222222;border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc;padding:0px 4px 0px 4px;}
.td_V_12B_tb	{ font-family: Arial; font-size: 12px; font-weight:bold; COLOR: #222222;border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_12B_tbl	{ font-family: Arial; font-size: 12px; font-weight:bold; COLOR: #222222;border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc;padding:0px 4px 0px 4px;}
.td_V_12B_trb	{ font-family: Arial; font-size: 12px; font-weight:bold; COLOR: #222222;border-top: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_12B_trbl	{ font-family: Arial; font-size: 12px; font-weight:bold; COLOR: #222222;border: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_13_b	{ font-family: Arial; font-size: 13px; COLOR: #222222; border-bottom: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_13_bl	{ font-family: Arial; font-size: 13px; COLOR: #222222; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; padding:0px 4px 0px 4px; padding:0px 4px 0px 4px;}
.td_V_13_rb	{ font-family: Arial; font-size: 13px; COLOR: #222222; border-bottom: 1px solid #cccccc; border-right: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_13B_b	{ font-family: Arial; font-size: 13px; font-weight:bold; COLOR: #222222; border-bottom: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_13B_bl	{ font-family: Arial; font-size: 13px; font-weight:bold; COLOR: #222222; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc;padding:0px 4px 0px 4px;}
.td_V_13B_rb	{ font-family: Arial; font-size: 13px; font-weight:bold; COLOR: #222222; border-bottom: 1px solid #cccccc; border-right: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_13B_tb	{ font-family: Arial; font-size: 13px; font-weight:bold; COLOR: #222222;border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_13B_tbl	{ font-family: Arial; font-size: 13px; font-weight:bold; COLOR: #222222;border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc;padding:0px 4px 0px 4px;}
.td_V_13B_trb	{ font-family: Arial; font-size: 13px; font-weight:bold; COLOR: #222222;border-top: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding:0px 4px 0px 4px;}
.td_V_13B_trbl	{ font-family: Arial; font-size: 13px; font-weight:bold; COLOR: #222222;border-top: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; padding:0px 4px 0px 4px;}


.fontheader10v { font-family: Tahoma; font-size: 11pt; COLOR: #11375e }
.fontheader11v { font-family: Tahoma; font-size: 12pt; COLOR: #11375e }
.fontheader12v { font-family: Calibri; font-size: 15pt; COLOR: #11375e; letter-spacing:2px; }
.fontheader13v { font-family: Tahoma; font-size: 14pt; COLOR: #11375e }
.fontheader15v { font-family: Tahoma; font-size: 16pt; COLOR: #11375e }
.fontheader22v { font-family: Century Gothic; font-size: 22pt; COLOR: #11375e; letter-spacing:2px; text-shadow: 1px 2px #dedede; text-transform:uppercase}

.fontsmallblack { font-family: Calibri; font-size: 9pt; COLOR: #222222 }
.fontblack7v   { font-family: Tahoma; font-size: 8pt; COLOR: #222222 }
.fontblack8v   { font-family: Calibri; font-size: 9pt; COLOR: #222222 }
.fontblack9v   { font-family: Calibri; font-size: 11pt; COLOR: #222222 }
.fontblack10v   { font-family: Calibri; font-size: 12pt; COLOR: #222222 }

.fontblue7v   { font-family: Tahoma; font-size: 7pt; COLOR: #1d455b }
.fontblue8v   { font-family: Tahoma; font-size: 8pt; COLOR: #1d455b }
.fontblue9v   { font-family: Calibri; font-size: 11pt; COLOR: #1d455b }
.fontblue10v   { font-family: Calibri; font-size: 12pt; COLOR: #1d455b }
.fontblue16v   { font-family: Calibri; font-size: 16pt; COLOR: #1d455b; font-weight:bold;  letter-spacing:2px;}

 
.fontwhite7v   { font-family: Calibri; font-size: 8pt; COLOR: #ffffff }
.fontwhite8v   { font-family: Calibri; font-size: 9pt; COLOR: #ffffff }
.fontwhite9v   { font-family: Calibri; font-size: 10pt; COLOR: #ffffff }
.fontwhite12v   { font-family: Calibri; font-size: 14pt; COLOR: #ffffff }

.fontbot8v   { font-family: Century Gothic; font-size: 7.5pt; COLOR: #ababab; letter-spacing:1px; text-transform:uppercase }

.textbox00 {background-color: #f2f2f2;  border-top: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; border-bottom: 1px solid #436478; padding:3px 1px 3px 3px; font-family: Tahoma; font-size: 9pt }
.textbox01 {background-color: #f2f2f2; overflow:auto; width:98%; background-position:bottom;  border-top: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; border-bottom: 1px solid #ffffff; padding:3px 1px 3px 3px; font-family: Tahoma; font-size: 9pt }
.textbox01_focus { border:1px #e5e5e5 solid; background:#fffa8a; border-radius: 1px; box-shadow: 4px 5px 6px 2px #bababa; overflow:auto; width:98%; padding:3px 1px 3px 3px; border: 0px solid #2A77A0; font-family: Tahoma; font-size: 9pt }

.textbox02 { border:1px #505050 solid; background:White; width:99%; border-top: 1px solid #505050; border-left: 1px solid #505050; border-right: 1px solid #505050; border-bottom: 1px solid #e5e5e5; padding:3px 1px 3px 3px; font-family: Tahoma; font-size: 9pt }
.textbox02_focus { border:1px #222222 solid; background:#fffa8a; border-radius: 1px; box-shadow: 4px 5px 6px 2px #bababa; width:99%; padding:3px 1px 3px 3px; border: 0px solid #2A77A0; font-family: Tahoma; font-size: 9pt }

.input_grid { background-color: #eaeaea; border-bottom: 1px solid #cecece; border-top:1px solid #cecece; border-right: 1px solid #cecece; border-left: 1px solid #cecece; font-family: Arial; font-size: 9pt }
 
.input_label {height:22px;background-color: transparent; border-bottom: 0px solid transparent; border-top:0px solid transparent; border-right: 0px solid transparent; border-left: 0px solid transparent; font-family: Arial; font-weight: bold; font-size: 8pt; text-align : center; COLOR: #222222}
.input_label_sm {height:22px; font-weight: bold; background-color: transparent; border-bottom: 0px solid transparent; border-top:0px solid transparent; border-right: 0px solid transparent; border-left: 0px solid transparent; font-family: Arial; font-size: 9pt; text-align : center; COLOR: #222222}
.input_label_smr {height:22px; background-color: transparent; border-bottom: 0px solid transparent; border-top:0px solid transparent; border-right: 0px solid transparent; border-left: 0px solid transparent; font-family: Arial; font-size: 8pt; text-align : left; COLOR: #222222}
.input_t8v { background: linear-gradient(to right, white , #f5f5f5 70% ); height:22px; border-bottom: 1px dotted #436478; border-top:1px solid #ffffff; border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; font-family: Tahoma; font-size: 9pt } 
.input_n8v { background: linear-gradient(to right, white , #f5f5f5 70% ); height:22px; text-align: right; border-bottom: 1px dotted #436478; border-top: 1px solid #ffffff; border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; font-family: Tahoma; font-size: 9pt } 
.input_rowNum {height:22px; background-color: #e7e7e7; border:0 px black;} 
.watermarkOn { background: linear-gradient(to right, white , #f5f5f5 70% ); height:22px; border-bottom: 1px dotted #436478; border-top:1px solid #ffffff; border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; font-family: Tahoma; font-size: 9pt; color: #dedede; }

.input_t8v_readonly {height:22px; background-color: #ffffff; border-bottom: 1px solid #eaeaea; border-top: 2px solid #ffffff; border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; font-family: Tahoma; font-size: 9pt } 
.input_n8v_readonly {height:22px; background-color: #ffffff; text-align: right; border-bottom: 1px solid #eaeaea; border-top: 2px solid #ffffff; border-right: 2px solid #ffffff; border-left: 1px solid #ffffff; font-family: Tahoma; font-size: 9pt }

.input_t8v_taxa_readonly {height:22px; background-color: #ffffff; border-bottom: 1px dotted #bbbbbb; border-top: 2px solid #ffffff; border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; font-family: Arial; font-size: 9pt; COLOR: #606060  } 
.input_n8v_taxa_readonly {height:22px; background-color: #ffffff; text-align: right; border-bottom: 1px dotted #bbbbbb; border-top: 2px solid #ffffff; border-right: 2px solid #ffffff; border-left: 1px solid #ffffff; font-family: Arial; font-size: 9pt;COLOR: #606060  }

.inputbox_t8v {background: linear-gradient(to right, white , #f5f5f5 70% ); height:22px; background-image:url(../folder_graphics/graphics_main_all/sbox_arrw_4.png); background-repeat:no-repeat ; background-position:right; border-bottom: 1px dotted #436478; border-top: 1px solid #ffffff; border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; font-family: Tahoma; font-size: 9pt } 
.inputbox_n8v {background: linear-gradient(to right, white , #f5f5f5 70% ); height:22px; background-image:url(../folder_graphics/graphics_main_all/sbox_arrw_4.png); background-repeat:no-repeat ; background-position:right; border-bottom: 1px dotted #436478;	border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;	border-left: 1px solid #ffffff;	font-family: Tahoma;	font-size: 9pt ;	text-align : right;} 

.inputbox_t8v_readonly {height:22px; background-color: #ffffff; border-bottom: 1px solid #eaeaea; border-top: 2px solid #ffffff; border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; font-family: Tahoma; font-size: 9pt } 
.inputbox_n8v_readonly {height:22px; background-color: #ffffff; border-bottom: 1px solid #eaeaea; border-top: 2px solid #ffffff; border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; font-family: Tahoma; font-size: 9pt ;	text-align : right;} 

.HiddenField { display: none; width: 0px;height:0px;margin: 0px;padding: 0px;font-size: 0px;line-height: 0px;float:left;}

.getfocus_t8v {background-color: #fffa8a; border-radius: 1px; box-shadow: 2px 2px 3px 1px #ababab; border: 1px solid #fffa8a; font-family: Tahoma; font-size: 9pt; padding:3px 1px 3px 3px } 
.getfocus_n8v {background-color: #fffa8a; border-radius: 1px; box-shadow: 2px 2px 3px 1px #ababab; text-align: right; border: 1px solid #fffa8a; font-family: Tahoma; font-size: 9pt; padding:3px 1px 3px 3px }
.getfocus_rowNum { background-color: #ffff00; border:0px black; font-family: Arial; font-size: 8pt; text-align : center;} 

.getfocus_sbox_t8v {background-color: #fffa8a; border-radius: 1px; box-shadow: 4px 5px 6px 2px #ababab; border: 1px solid #fffa8a; font-family: Tahoma; font-size: 9pt; padding:3px 1px 3px 3px }
.getfocus_sbox_n8v {background-color: #fffa8a; border-radius: 1px; box-shadow: 4px 5px 6px 2px #ababab; text-align: right; border: 1px solid #fffa8a; font-family: Tahoma; font-size: 9pt; padding:3px 1px 3px 3px }

.bar_input_topmain_t8v {height:22px; background-color: #f6f6f6; border-bottom: 1px solid #222222; border-top: 1px solid #222222; border-right: 1px solid #222222; border-left: 1px solid #222222; font-family: Arial; font-size: 9pt } 
.bar_getfocus_topmain_t8v {background-color: #fffa8a; border-top: 1px solid #222222; border-left: 1px solid #222222; border-right: 1px solid #222222; border-bottom: 0px solid #222222; font-family: Arial; font-size: 9pt }

.bar_inputbox_t8v {height:22px; background-color: #f6f6f6; border-bottom: 1px solid #222222; border-top: 1px solid #222222; border-right: 1px solid #222222; border-left: 1px solid #222222; font-family: Arial; font-size: 9pt } 
.bar_inputbox_n8v {height:22px;	background-color: #f6f6f6;	border-bottom: 1px solid #222222; border-top: 1px solid #222222; border-right: 1px solid #222222;	border-left: 1px solid #222222;	font-family: Arial;	font-size: 9pt ; text-align : right;} 

.bar_getfocus_sbox_t8v {background-color: #fffa8a; border-top: 2px solid #222222; border-left: 1px solid #222222; border-right: 1px solid #ffffff; border-bottom: 1px solid #cdcdcd; font-family: Arial; font-size: 9pt }
.bar_getfocus_sbox_n8v {background-color: #fffa8a; text-align: right; border-top: 2px solid #222222; border-left: 1px solid #222222; border-right: 1px solid #ffffff; border-bottom: 1px solid #cdcdcd; font-family: Arial; font-size: 9pt }
 
.titleblock_tab    { border-top:0px solid #686868; COLOR: #222222; font-family: Calibri; font-size: 10pt ; font-weight: bold; COLOR: #282828; background-image:url(../folder_graphics/graphics_main_all/Grad_Row_MidBlue.gif); background-color: #d7e1e1; }
.titleblock_line    {  BACKGROUND-COLOR: #E0E7F7; border-bottom: 0px solid #a8a8a8; color:#3c3c3c;  font-family: Calibri; font-size: 11pt ; font-weight: bold;}
.titleblock_line2    {  BACKGROUND-COLOR: #E0E7F7; border-bottom: 1px solid #a8a8a8; color:#3c3c3c;  font-family: Calibri; font-size: 10pt ; font-weight: bold;}
.titleblock    { border-top:1px solid #686868;  border-bottom: 1px solid #686868;  border-left:1px solid #686868; border-right:1px solid #686868; COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #ececec}
.titleblock_8a    { border-top:0px solid #686868; COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #f3f3f3}
.titleblock_tb8a    {text-transform:uppercase; border-top:0px solid #777777;  border-bottom: 1px solid #333333;  COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #ffffff}
.titleblock_tb9a    { border-top:0px solid #686868;  border-bottom: 1px solid #686868;  COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #E0E7F7}
.titleblock_tr8a    { border-top:1px solid #686868;  border-right: 1px solid #9f9f9f;  COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #f3f3f3}
.titleblock_br8a    { border-bottom:1px solid #686868;  border-right: 1px solid #9f9f9f;  COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #f3f3f3}
.titleblock_t8a    { border-top:0px solid #686868;  border-top: 1px solid #686868;  COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #f3f3f3}
.titleblock_b8a    {text-transform:uppercase; border-top:0px solid #686868;  border-bottom: 1px solid #686868;  COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #ffffff}
.titleblock_ltb8a    {text-transform:uppercase; border-left: 1px solid #9f9f9f; border-top:1px solid #686868;  border-bottom: 1px solid #686868;  COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #f3f3f3}
.titleblock_lrtb8a    {text-transform:uppercase; border-left: 1px solid #9f9f9f; border-right: 1px solid #9f9f9f; border-top:1px solid #686868;  border-bottom: 1px solid #686868;  COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #f3f3f3}
.titleblock_rtb8a    {text-transform:uppercase; border-right: 1px solid #9f9f9f; border-top:1px solid #686868;  border-bottom: 1px solid #686868;  COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #f3f3f3}
.titleblock_lrb8a    {text-transform:uppercase; border-left: 1px solid #9f9f9f; border-right: 1px solid #686868; border-top:1px solid #686868;  border-bottom: 1px solid #686868;  COLOR: #222222; font-family: Calibri; COLOR: #282828; font-size: 10pt ; BACKGROUND-COLOR: #f3f3f3}
.titleblock_r8a    { border-left: 1px solid #9f9f9f; border-right: 1px solid #9f9f9f; border-top:1px solid #686868;  border-bottom: 1px solid #282828;  COLOR: #222222; font-family: Calibri; COLOR: #282828; font-size: 10pt ; BACKGROUND-COLOR: #f3f3f3}
.titleblock_grey_lrt8a    { border-left: 1px solid #9f9f9f; border-right: 1px solid #9f9f9f; border-top:1px solid #686868;  border-bottom: 0px solid #686868;  COLOR: #222222; font-family: Calibri; COLOR: #282828; font-size: 10pt ; BACKGROUND-COLOR: #cdcdcd}
.titleblock_addrow    {  BACKGROUND-COLOR: #d7eef8; border-bottom: 0px solid #a8a8a8; color:#3c3c3c;  font-family: Calibri; font-size: 10pt ; font-weight: bold;}
.titleblock_gnl    {  BACKGROUND-COLOR: #dedede ; color:white; font-family: Calibri; font-size: 10pt ; font-weight: bold; background-repeat:no-repeat ; background-position:left; }
.titleblock_tb10a    { border-top:1px solid #686868;  border-bottom: 1px solid #686868;  COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #E0E7F7}
.titleblock_tb11a    { border-top:1px solid #686868;  border-bottom: 1px solid #686868;  COLOR: #222222; font-family: Calibri; font-size: 12pt ; COLOR: #282828; BACKGROUND-COLOR: #dbdbdb}
.titleinner_rb8a    { border-right: 1px solid #9f9f9f; border-bottom: 1px solid #686868;  COLOR: #222222; font-family: Calibri; font-size: 10pt ; COLOR: #282828; BACKGROUND-COLOR: #ececec}
.titleinner_lrb8a    { border-left: 1px solid #9f9f9f; border-right: 1px solid #9f9f9f; border-bottom: 1px solid #686868;  COLOR: #222222; font-family: Calibri; font-size: 9pt ; COLOR: #282828; BACKGROUND-COLOR: #ececec}

.graybottom_line    {  BACKGROUND-COLOR: #e7e7e7; border-bottom: 1px solid #9c9c9c; font-family: Arial; font-size: 10pt ;}
.blackbottom_line    {  BACKGROUND-COLOR: #ffffff; border-bottom: 1px solid #686868; font-family: Arial; font-size: 8pt ;}
.blackbottom_line_right    {  BACKGROUND-COLOR: #ffffff; border-bottom: 1px solid #686868; border-right: 1px solid #828282; font-family: Arial; font-size: 8pt ;}
.blacktop_line    {  BACKGROUND-COLOR: #e2e2e2; border-bottom: 1px solid #686868; font-family: Arial; font-size: 8pt ;}
.blacktop_line1    {border-top: 1px solid #777777; font-family: Arial; font-size: 10pt ;}

.linkblockwhite_lrt8a    { border-left: 1px solid #686868; border-right: 1px solid #686868; border-top:1px solid #686868;  border-bottom: 0px solid #686868;  COLOR: #222222; font-family: Arial; font-size: 8pt ; COLOR: #282828; BACKGROUND-COLOR: #b7b7b7}
.linkblockwhite_t8a    { border-top:1px solid #919191; font-family: Arial; font-size: 8pt ; COLOR: #282828; background-image:url(../folder_graphics/graphics_main_all/Grad_Blue23long.gif);}
.linkblockwhite_8a    { border-left: 0px solid #686868; border-right: 0px solid #686868; border-top:1px solid #ffffff;  border-bottom: 0px solid #686868;  COLOR: #222222; font-family: Arial; font-size: 8pt ; COLOR: #282828; background-image:url(../folder_graphics/graphics_main_all/Grad_Blue23long.gif);}
.linkblockwhite_wht    { border-top:0px solid #909090; font-family: Calibri; font-size: 10pt ; font-weight: bold; COLOR: #ffffff;  background-image: url("../folder_graphics/graphics_main_all/bandblue01long.png"); background-repeat:no-repeat ; background-position:left;}

.wflowblock_b12a    { border-top:0px solid #686868;  border-bottom: 1px solid #686868;  font-family: Calibri; font-size: 15pt ; COLOR: #ffffff; BACKGROUND-COLOR: #e22c2c}

.table_base { border-left: 1px solid #ABBABD; background-image:url(../folder_graphics/graphics_main_all/grad_midgrey23.gif) ;  }
.table_base_NOLINE {background-color :#ffffff; font-family: Arial; font-size: 10pt ;  border-left: 0px solid khaki; border-right: 0px solid khaki; border-top:0px solid khaki;  border-bottom: 0px solid khaki; }
.table_base_rr {background-image:url(../folder_graphics/graphics_main_all/Grad_MetBlue_Revr.gif) ; background-color:#222222; border-left: 1px solid #ABBABD; }
.table_base_lr { border-left: 0px solid #ABBABD; border-right: 1px solid #ABBABD;  background-image:url(../folder_graphics/graphics_main_all/Grad_RowitemGray.gif) ; }
.table_base_lrb { border-left: 1px solid #ABBABD; border-right: 1px solid #ABBABD; border-bottom: 1px solid #ABBABD; background-image:url(../folder_graphics/graphics_main_all/grad_midgrey23.gif) ; background-color: #d7e1e1;  }
.table_base_b {  border-bottom: 1px solid #ABBABD; background-image:url(../folder_graphics/graphics_main_all/grad_midgrey23.gif) ;  background-color: #d7e1e1;  }
.table_base_rpt { background-image:url(../folder_graphics/graphics_main_all/grad_midgrey23.gif) ; background-color: #d7e1e1;   }
.trans_base_lr { border-left: 1px solid #ABBABD; border-right: 1px solid #ABBABD; background-image:url(../folder_graphics/graphics_main_all/Grad_MetBlue_Revr.gif) ;  background-color: #d7e1e1;  }
.trans_base_lrb { border-left: 0px solid #ABBABD; border-right: 1px solid #ABBABD; border-bottom: 1px solid #ABBABD; background-image:url(../folder_graphics/graphics_main_all/Grad_MetBlue_Revr.gif) ;  background-color: #d7e1e1;  }
.table_topmain_line     { background-color: #ffffff }
.table_topmain_footbar {background-color: #ffffff; border-top: 0px dotted #cdcdcd; height:35px}
.listmain_body_color { background-image:url(../folder_graphics/graphics_main_all/grad_blue23.gif);background-color: #d7e1e1; font-family: Arial; font-size: 10pt; border-left: 1px solid #101010;  }
.listmain_border { border-bottom: 1px solid #ABBABD; border-top: 0px solid #8abbd2; border-left: 0px solid #ffffff;  border-bottom: 0px solid #dedede; font-family: Arial; font-size: 8pt; ; background-color: white;}
.listmain_border_white { border-bottom: 0px solid #ffffff; border-top: 0px solid #ffffff; border-right: 0px solid #ffffff; font-family: Arial; font-size: 8pt; }
.listmain_border_black { border-bottom: 0px solid #ABBABD; border-top: 0px solid #ffffff; border-right: 0px solid #ffffff; font-family: Calibri; font-size: 9pt; ;background-color: white; }
.listmain_border_bgcolor { border-bottom: 1px solid #ffffff; border-top: 0px solid #ffffff; border-right: 0px solid #ffffff; font-family: Arial; font-size: 8pt; background-color: #8abbd2;}
.listmain_head{border-bottom: 1px solid #1d455b; border-top: 0px solid #1d455b;border-right: 0px solid #1d455b;border-left: 0px solid #1d455b; font-family: Arial; font-size: 10pt; font-weight: bold; COLOR: #1d455b; background-color: #ffffee}
.topmain_border { border-left: 1px solid #101010; font-family: Arial; font-size: 8pt;}
.topmain_border_end { border-left: 1px solid #101010; border-right: 1px solid #101010; font-family: Arial; font-size: 8pt;} 
 
.topm_bgmain { border-left: 0px solid #5d5d5d; font-family: Arial; font-size: 8pt; background-image:url(../folder_graphics/graphics_main_all/img_leftbot_bg.gif);}
 
.topmain_border_no { border-left: 0px solid #5d5d5d; font-family: Arial; font-size: 8pt; background-image:url(../folder_graphics/graphics_main_all/Grad_MetBlue2.gif);}
.topmain_border_box {height:28px; font-family: Calibri;  color:#05283c;  font-size: 10pt; background-color: #eef2fc;}
.topmain_border_box1px {height:28px; border-left: 0px solid #5d5d5d; font-family: Calibri;  color:#05283c;  font-size: 10pt; letter-spacing:1px; background-color: #eef2fc;}
.topmain_border_strt { border-left: 1px solid #5d5d5d; font-family: Arial; font-size: 8pt; background-image:url(../folder_graphics/graphics_main_all/Grad_MetBlue2.gif);}
   
.topmain_border_box_red { border-left: 1px solid #686868; font-family: Arial; font-size: 8pt; background-image:url(../folder_graphics/graphics_main_all/Grad_MetBlue.gif);}
.topmain_border_end_box_red { border-left: 1px solid #686868; border-right: 1px solid #686868; font-family: Arial; font-size: 8pt; background-image:url(../folder_graphics/graphics_main_all/Grad_MetBlue.gif);}
   
.cell_input_lay3  {background-color: #ffffff; box-shadow: 3px 3px 6px #c5d0db; border-top:0px solid #bebebe;}
.cell_input_lay2  {background-color: #ffffff; box-shadow: 3px 3px 6px #c5d0db; border-top:0px solid #bebebe;}
.cell_input_lay1 { box-shadow: 1px 3px 21px 3px rgba(0,0,0,0.85); border-radius: 5px;} 
.cell_input_lay {background-color: #ffffff;  box-shadow: 3px 3px 6px #c5d0db; border-top:0px solid #bebebe;}
.cell_input_sview {background-color: #ffffff; box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.9);}
.cell_input_trns {background-color: #ffffff; border:1px solid #222222; box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.9);}
.cell_input_listmain {background-color: #ffffff; box-shadow: 2px 2px 6px 1px #c5d0db;}                            
.cell_input_lay_rpt { background-color: #ffffff; border-top:1px solid transparent; box-shadow: 2px 2px 8px 2px #525252;} 
.cell_input_lay_rpt:hover { background-color: #ffffff; border-top:1px solid #f3f3f3; box-shadow: 3px 3px 11px 3px #333333; } 
.cell_input_lay_rpt2 { background-color: #ffffff; border-top:1px solid transparent; padding:1px 5px 1px 5px; box-shadow: 2px 2px 8px 2px #525252; } 
.cell_input_lay_rpt2:hover { background-color: #ffffff; border-top:1px solid #f3f3f3; box-shadow: 3px 3px 11px 3px #333333; } 
.cell_input_lay_shadow {background-color: #ffffff;  border:1px solid #bdbdbd; box-shadow: 6px 7px 11px 0px rgba(0,0,0,0.9);}
.cell_input_lay_wtop { background-color: #ffffff; font-family: Arial; font-size: 14pt; border-bottom: 1px solid #222222; border-top: 1px dotted #afc4c7; border-right: 1px solid #222222; border-left: 1px dotted #afc4c7 } 
.cell_input_lay_bots { background-color: #ffffff; font-family: Arial; font-size: 14pt; border-bottom: 1px solid #a1a1a1; border-right: 0px solid #aaaaaa; border-top: 0px solid #afc4c7; border-left: 1px dotted #afc4c7 } 
.cell_input_lay_desktop { background-color: #ececec; font-family: Arial; font-size: 14pt; border-bottom: 0px solid #d5d5d5; border-top: 0px solid #cbdede; border-right: 0px solid #dadada; border-left: 1px solid #cdcdcd } 
.cell_input_lay_white { background-color: #ffffff; font-family: Arial; font-size: 14pt; border-bottom: 1px solid #d5d5d5; border-top: 0px solid #cbdede; border-right: 1px solid #dadada; border-left: 1px solid #e4e4e4 } 
.cell_input_tab { background-color: #ffffff; font-family: Arial; font-size: 14pt; border-bottom: 1px solid #d5d5d5; border-top: 1px solid #bebebe; border-right: 1px solid #dadada; border-left: 1px solid #dddddd } 

.div_listmain_head{ position:absolute; border-bottom: 0px solid #cdcdcd; border-top: 0px solid #729aa3; border-left: 0px dotted #cdcdcd ;width:100%}
.div_prn { position:absolute; border-bottom: 1px solid #ABBABD }

.titleblock_lrb8aw    { border-left: 1px solid #686868; border-right: 1px solid #686868; border-top:0px solid #686868;  border-bottom: 1px solid #686868;  COLOR: #222222; font-family: Arial; font-size: 8pt ; COLOR: #282828; BACKGROUND-COLOR: #ffffff}
.table_base_border { background-color: #8abbd2; border-top: 1px solid #686868; border-right: 1px solid #686868; border-left: 1px solid #686868;  }
.listmain_body_color_dark { background: #354A6F; font-family: Arial; font-size: 10pt; border-left: 1px solid #686868;  }
.listmain_border_none { border-bottom: 0px solid #686868; border-top: 0px solid #ffffff; border-right: 0px solid #ffffff; font-family: Arial; font-size: 8pt; }
.topmain_border_end_box_red { border-left: 1px solid #686868; border-right: 1px solid #686868; font-family: Arial; font-size: 8pt; background-color: #BA0D2B;}
.topmain_bgcolor { border-bottom: 0px solid #29a6bc; border-right: 1px solid #29a6bc; border-top: 1px solid #29a6bc; border-left: 1px solid #29a6bc; font-family: Calibri; font-size: 10pt; background-color: #ececec;}
.topmain_center { border-bottom: 1px solid #29a6bc; border-right: 0px solid #29a6bc; border-top: 1px solid #29a6bc; border-left: 1px solid #29a6bc; font-family: Calibri; font-size: 10pt; background-color: #ffffff;}
.topmain_epal_box { border-bottom: 0px solid #29a6bc; border-right: 0px solid #29a6bc; border-top: 0px solid #29a6bc; border-left: 0px solid #29a6bc; font-family: Calibri; font-size: 8pt; background-color: #F7F7F7;}
.topmain_epal_end_box { border-left: 1px solid #686868; border-right: 1px solid #686868; font-family: Arial; font-size: 8pt; background-color: #8abbd2;}
a.tab-closer,a.tab-closer:hover {color:white;background-color:#E81123;text-align:center;width:24;height:24px;line-height:24px;display:inline-block;font-size:20px;text-decoration:none;}