.rowNumClicked
{
    BACKGROUND-POSITION: right 50%;
    BACKGROUND-IMAGE: url(img_edit.gif);
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #f7f7f7
}


.tabGeneric
{
    FONT-SIZE: 11pt;
    WIDTH: 250px;
    BACKGROUND-COLOR: #538ec9;
    COLOR: #ffffff;
    PADDING-TOP: 5px;
     PADDING-BOTTOM: 0px;
	PADDING-LEFT: 9px;
	PADDING-RIGHT: 2px;	
    BORDER-TOP: #eef2fc 1px solid;
    BORDER-RIGHT: #eef2fc 1px solid;
    BORDER-LEFT: #eef2fc 1px solid;
    BORDER-BOTTOM: #eef2fc 1px solid;
    border-radius: 5px; 
    text-transform: uppercase;
    FONT-FAMILY: Calibri;
    HEIGHT: 28px;
    VERTICAL-ALIGN: bottom;
    TEXT-ALIGN: left;
	font-weight: normal; 
    letter-spacing:1px;
 
}

.tabGeneric:hover
{
    FONT-SIZE: 11pt;
    WIDTH: 250px;
    BACKGROUND-COLOR: #20356F;
    COLOR: #ffffff;
    PADDING-TOP: 5px;
     PADDING-BOTTOM: 0px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;	
    BORDER-TOP: #eef2fc 1px solid;
    BORDER-RIGHT: #eef2fc 1px solid;
    BORDER-LEFT: #fe7a18 8px solid;
    BORDER-BOTTOM: #eef2fc 1px solid;
    border-radius: 5px;
    text-transform: uppercase;
    FONT-FAMILY: Calibri;
    HEIGHT: 28px;
    VERTICAL-ALIGN: bottom;
    TEXT-ALIGN: left;
	font-weight: normal; 
    letter-spacing:1px;
}


.tabGenericBod
{
    BORDER-RIGHT: #000000 0px solid;
    FONT-SIZE: 9pt;
    WIDTH: 40px;
    COLOR: #333333;
    PADDING-TOP: 3px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;	
    BORDER-BOTTOM: #000000 0px solid;
	BORDER-TOP: #989898 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 55px;
    TEXT-ALIGN: center;
	background-image:url(../folder_graphics/graphics_main_all/GreyBlackGrad.gif);
}

.tabGenericEnd
{
    BORDER-RIGHT: #000000 0px solid;
    FONT-SIZE: 8pt;
    WIDTH: 29px;
    COLOR: #222222;
    PADDING-TOP: 3px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;	
    BORDER-BOTTOM: #000000 0px solid;
	BORDER-TOP: #717171 0px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 21px;
    TEXT-ALIGN: center;
	background-color: #d7e1e1;
}

.tabGeneric1
{
    FONT-SIZE: 8pt;  
    COLOR: #ffffff;
    PADDING-TOP: 3px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;	
    BORDER-BOTTOM: #555555 1px solid;
    BORDER-TOP: #555555 1px solid;
     BORDER-RIGHT: #555555 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 21px;
    TEXT-ALIGN: center;
      BACKGROUND-COLOR: #f7f7f7;
	background-image:url(../folder_graphics/graphics_main_all/XXXGrad_TabGrey.gif)
}

.tabGeneric_bottom
{
    FONT-SIZE: 11pt;
    WIDTH: 250px;
    BACKGROUND-COLOR: #4883bf;
    COLOR: #fbfbfb;
    PADDING-TOP: 5px;
     PADDING-BOTTOM: 0px;
	PADDING-LEFT: 9px;
	PADDING-RIGHT: 2px;	
    BORDER-bottom: #222222 0px dotted;
    BORDER-RIGHT: #333333 1px solid;
    BORDER-LEFT: #333333 1px solid;
    border-radius: 1px;  
    text-transform: uppercase;
    FONT-FAMILY: Calibri;
    HEIGHT: 1px;
    VERTICAL-ALIGN: bottom;
    TEXT-ALIGN: left;
	font-weight: normal; 
    letter-spacing:1px;
}

.tabGenericOnfocus
{
    
    FONT-SIZE: 11pt;
    WIDTH: 250px;
    BACKGROUND-COLOR: #0d1f50;
    COLOR: #ffffff;
    PADDING-TOP: 5px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;	
    BORDER-TOP: #eef2fc 1px solid;
    BORDER-RIGHT: #eef2fc 1px solid;
    BORDER-LEFT: #fd6d23 8px solid;
    border-radius: 1px;
    text-transform: uppercase;
    FONT-FAMILY: Calibri;
    HEIGHT: 28px;
    VERTICAL-ALIGN: bottom;
    TEXT-ALIGN: left;
	font-weight: normal;
	letter-spacing:1px;
}

.tabGenericOnfocus1
{
    BORDER-RIGHT: #555555 1px solid;
    BORDER-LEFT: #222222 0px solid;	
	BORDER-TOP: #555555 1px solid;	 
	BORDER-BOTTOM: #555555 1px solid;		
    FONT-SIZE: 8pt;
    PADDING-TOP:3px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;	
    FONT-FAMILY: Arial;
    COLOR: white;
    HEIGHT: 21px;
    TEXT-ALIGN: center;
    BACKGROUND-COLOR: #999999;
	background-image:url(../folder_graphics/graphics_main_all/XXXXGrad_DarkGrey.gif)
}
.tabboxLeftAlign
{
    Z-INDEX: 80;
    LEFT: 0px;
    VISIBILITY: hidden;
    BORDER-BOTTOM-COLOR: #696969;
    POSITION: absolute;
    TOP: 43px;
    TEXT-ALIGN: left
}
.checkboxYES
{
    BACKGROUND-COLOR: red
}
.checkboxNO
{
}
.tabboxRightAlign
{
    BORDER-RIGHT: black 1px solid;
    LEFT: 0px;
    VISIBILITY: hidden;
    BORDER-BOTTOM: black 1px solid;
    POSITION: absolute;
    TOP: 43px;
    TEXT-ALIGN: left
}
.tab
{
    BORDER-RIGHT: #101010 1px solid;
    BORDER-TOP: #101010 1px solid;
    FONT-SIZE: 14pt;
    BORDER-LEFT: #101010 1px solid;
    BORDER-BOTTOM: #101010 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #f7f7f7
}
.tabDivHidden1
{
    BACKGROUND-COLOR: darkgoldenrod;
    TEXT-ALIGN: left
}
.tabDivHidden2
{
    LEFT: 2px;
    VISIBILITY: hidden;
    POSITION: absolute;
    TOP: 44px;
    BACKGROUND-COLOR: #3f985e;
    TEXT-ALIGN: left
}
.tabDivShowLeftAlign
{
}
.tabDivShowRightAlign
{
}
d.asdas
{
    BORDER-RIGHT: black 1px solid;
    TABLE-LAYOUT: fixed;
    PADDING-RIGHT: 0px;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 0px;
    MARGIN-LEFT: 0px;
    VERTICAL-ALIGN: top;
    OVERFLOW: auto;
    BORDER-LEFT: black 1px solid;
    WORD-BREAK: keep-all;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: black 1px solid;
    POSITION: absolute;
    BACKGROUND-COLOR: aqua;
    TEXT-ALIGN: center;
    layout-grid-char-spacing: 0px
}
